


#suibian{width:600px;height:220px;border:4px #6600FF solid}
#suibian_m{width:300px;height:220px;float:left}
.suibian_b{width:300px;height:190px;border-right:1px #00FF00 dashed;margin-top:10px}
.suibian_d{width:300px;height:20px;border-right:1px #00FF00 dashed;border-top:1px #00FF00 dashed}
#suibian_n{width:300px;height:220px;float:left}
