

#index_02{width:160px;height:70px;border:1px #d4d4d4 solid;font-size:12px;line-height:18px;padding:10px}
#index_02_01{width:16px;height:16px;float:left}
#index_02_02{width:49px;height:16px;float:left;margin-left:10px}
#index_02_03{width:18px;height:16px;float:left;margin-right:10px}